<div class="form-group">
  <input
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type={{type}}
      class="form-control"
      [formControl]="ngControl.control"
      placeholder={{label}}>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Kindly enter a {{label}} for me</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">Kindly enter a {{label}} that is at least {{ngControl.control.errors.minlength['requiredLength']}} characters for me</div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">Kindly enter a {{label}} that is at most {{ngControl.control.errors.maxlength['requiredLength']}} characters for me</div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Passwords do not match</div>
</div>
